dist: trusty

language: "perl"

perl:
  - "5.14"

env:
  - COVERALLS=true  DB=mysql
  
sudo: false
  
addons:
  apt:
    packages:
    - unzip
    - sendmail
    - graphviz

before_install:
    - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
    - export ENSEMBL_BRANCH=master
    - if [[ $TRAVIS_BRANCH =~ ^release\/[0-9]+$ ]]; then export ENSEMBL_BRANCH=$TRAVIS_BRANCH; fi
    - echo "ENSEMBL_BRANCH=$ENSEMBL_BRANCH"
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - git clone --branch version/2.5 --depth 1 https://github.com/Ensembl/ensembl-hive.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-metadata.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-test.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-variation.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-compara.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-biomart.git
    - wget https://github.com/bioperl/bioperl-live/archive/release-1-6-924.zip
    - unzip release-1-6-924.zip

install:
    - cpanm --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
    - cpanm --installdeps --notest --cpanfile ensembl-hive/cpanfile .
    - cpanm --installdeps --notest .
    - cpanm -n Devel::Cover::Report::Coveralls
    - cp travisci/MultiTestDB.conf.travisci.mysql  t/MultiTestDB.conf.mysql

script: "./travisci/harness.sh"

notifications:
  email:
    on_success: always
    on_failure: always
  slack:
    secure: BkrSPAkOM5aTOpeyO9vZnHdZ0LF1PLk0r2HtcXN2eTMyiHoGXkl6VUjdAL8EkzI4gunW2GProdSIjHpf60WdiEmKAulMdJRI+xyUbuxnY31mwiikS9HYwqmPBbMTf0Mh2pMBngZRFs+gaFZDUMTfLfp+8MQfU1R54yb6hPuVt5I=
